<div style="max-width:24rem;margin:4rem auto;">
  <h1>Entrar</h1>
  <%= form_with url: login_path, method: :post do |f| %>
    <%= f.email_field :email, required: true, autofocus: true, placeholder: "seu e-mail",
          style: "display:block;width:100%;padding:.5rem;margin:1rem 0;" %>
    <%= f.submit "Entrar", style: "width:100%;padding:.5rem;" %>
  <% end %>
</div>
